---
Language: Cpp
BasedOnStyle: Chromium
Standard: Latest
ColumnLimit: 80

IndentWidth: 2
ContinuationIndentWidth: 4
DerivePointerAlignment: false
PointerAlignment: Left

AlignAfterOpenBracket: Align
AlignOperands: Align
AlignTrailingComments: true

AllowShortFunctionsOnASingleLine: Inline
AllowShortIfStatementsOnASingleLine: Never
AllowShortLoopsOnASingleLine: Never
BinPackArguments: true
BinPackParameters: true

IncludeBlocks: Regroup
IncludeCategories:
  - Regex:           '^<.*\.h>'
    Priority:        1
  - Regex:           '^<.*'
    Priority:        2
  - Regex:           '.*'
    Priority:        3
...
